<html lang="ja">
  <head><title>JSONを読み込む例</title></head>
  <body>
    <form action="/search">
			出発：
			<select name="from">
        <ul>
          {% for line in network %}
              <option disabled>{{line.Name}}</option>
              <ul>
                {% for station in line["Stations"] %}
                <option> {{station}} </option>
                {% endfor %}
              </ul> 
            </li>
          {% endfor %}
        </ul>
      </select>
      <br>
			到着：
			<select name="to">
        <ul>
          {% for line in network %}
              <option disabled>{{line.Name}}</option>
              <ul>
                {% for station in line["Stations"] %}
                <option> {{station}} </option>
                {% endfor %}
              </ul> 
            </li>
          {% endfor %}
        </ul>
      </select>
      <br>
      <input type=submit value="乗り換え案内">
      <br>
      <br>
      <br>
    </form>
  </body>
</html>